.carousel_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto); 
    gap: 5%;
    width: 80%;
    margin: 0 auto;
    justify-items: center;
    padding-bottom: 5%;
}
.title{
    position: absolute;  
    
    color: white;
    text-shadow: 0 0 2px black;
    padding:1% 5%;
    font-weight: bold;
    font-size: 12px;

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%); 
 }
 .date{
    position: absolute;  
    
    color: white;
    text-shadow: 0 0 2px black;
    padding:1% 5%;
    font-weight: bold;
    font-size: 12px;

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%); 
 }
.project_title{
    position: absolute;  
    
    color: white;
    text-shadow: 0 0 2px black;
    padding:1% 5%;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.283);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    bottom: 97%;
    left: 50%;
    transform: translate(-50%, 50%); 
}

.carousel_box{
    margin-top: 3%;
    display: flex;
    flex-direction: column;

    width: 35vh;
    height: 40vh;
    border-radius: 15px;

    cursor: pointer;
    box-shadow: 10px 10px 5px rgba(0,0,0, 0.3);
    background: rgba(50, 60, 70, 0.3);
    
    transition: transform 0.3s ease-in-out;
    will-change: transform;
    overflow:hidden;
}
.carousel_box:hover{
   
    transform: translateY(-5%);
}
.carousel_img{
    height: 50%;
    object-fit:fill;
    border-radius:10px 10px 0px 0px;
    overflow: hidden;
}
.carousel_icons{  
    height: 45px;
}
.carousel_title{
    color: #FEFEFF;
    font-size: 21px;
    font-weight: 600;
    margin-left: 5%;
    margin-bottom: 0;
}
.carousel_desc{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10%;
    color: #FEFEFF;
    font-size: 16px;
    font-weight: 400;
    height: 15%;
}
.carousel_icon_container{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    gap: 10%;
    
}