:root{
    --LIGHT-GRAY: #D9D9D9;
    --Mint: #C3E1AC;
    --ACCENT: #94CAD2;
    --Soul: #5fe4c3;
}

body{
    background:  #262829;
    font-family: "Sora", sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;

}
*{
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
::-webkit-scrollbar{
    display: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position:absolute;
    width: 100%;
    top: 0;
    padding: 1% 1% 1% 1%;
    
    background:  
    rgba(0, 0, 0, 0.1)
    linear-gradient(to bottom, rgba(0, 0, 0,0.6), rgba(255, 255, 255,0));
}
.nav_right{
    display: flex;
    padding-right: 3%;
}
.about_pill{
   /* Flex */
   display: flex;
   justify-content: center;
   align-items: center;

   /* Layout */
   padding-left: 5%;
   padding-right: 5%;
   margin-right: 5%;
   height: 50px;
   width: auto;
   /* Style */
   border-radius: 40px;
   box-shadow: 0px 0px 10px 0px var(--ACCENT);
   border: 3px solid var(--ACCENT);
   font-size: 20px;
   text-wrap:nowrap;
   line-height: 30px;
   color: white;
   cursor: pointer;
    
}
.about_pill:hover{
    background:  var(--ACCENT);
    color: black;
}
.contact_pill{
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Layout */
    padding-left: 5%;
    padding-right: 5%;
    height: 50px;
    width: auto;
    /* Style */
    border-radius: 40px;
    box-shadow: 0px 0px 10px 0px var(--Mint);
    border: 3px solid var(--Mint);
    font-size: 20px;
    text-wrap:nowrap;
    line-height: 30px;
    color: white;
    cursor: pointer;
}

.contact_pill:hover{
    background:  var(--Mint);
    color: black;
}

.header{
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 200px;
    left: 15%;
}
.message_code{
    width: 100px;
    height: 80px;
    margin-left: 10%;
    margin-bottom: 0;
    background-image: url(Sources/message-programming.png);
    background-repeat: no-repeat;
}
.font_header{
    color: #FFF;
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}
.font_subHead{
    margin-top: 5px;
    margin-left: 5px;
    color: var(--ACCENT);
    font-size: 1.5rem;
    font-weight: 600;
}
.font_Quote{
    margin-left: 5px;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
    width: 650px;
}
.font_skills{
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #FEFEFF; 
    
}
.font_project{
    text-align: center;
    font-size: 56px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #FEFEFF;
    
    }

.note{
    color: gray;
    size: 20px;
    font-weight: 400;
}
.name{  
    /* Style */
    cursor: pointer;
    color: #FEFEFF;
    font-size: 36px;
    font-weight: 600;
}
.background_img{
    width: auto;
    height: 90dvh;
    margin-left: 30%;
    background:
    linear-gradient(to right, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, 0) 75%),
    linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0) 25%), 
    url(Sources/BackgroundPC.jpeg);
    background-size: cover;
    mix-blend-mode: lighten;
    overflow:visible;
    
}
.header{
    display: flex;
    height: 838px;

}

.button_down{
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px white;

    width: 57px;
    height: 57px;
    opacity: 0.9;
    border-radius: 50%;
    top: 75%;
    border: none;
}
.button_down:hover{
    border: 3px solid white;
    box-shadow: 0px 0px 20px 0px plum;
}

.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);

}

.sub_Header{
    pointer-events: none;
    display: flex; 
    flex-direction: row; 
    justify-content: center;
}

.skill_container{
    display: flex;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10%;  
    padding-right: 15%;
    gap: 150px;
    flex-direction: row;
    justify-content:space-between ;
   margin: auto;
   background: rgba(50,61,72,0.6);
}

.skill_title{

    color: var(--ACCENT);
    font-size: 20px;
    font-weight: 600;
    
}
.skill_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2%;
}
.skill_items img{
    width: auto;
    height: 125px;  
}

