
.thumbnail_Container{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    margin: auto;
   z-index: -1;
    align-items: center;
    justify-content: center;
 
}
    .thumbnail_Container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: 
    linear-gradient(to bottom, rgb(0, 0, 0), rgba(255, 255, 255, 0)),
    var(--thumbnail-bg) center center / cover no-repeat ;
    z-index: 0;
}

.image_Title {
    position: relative;
    color: seagreen;
    font-family: 'Grechen Fuemen', sans-serif;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
   
  }

.project_container{
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
  align-items: center;
}

.project_Paragraph{
  text-align: center;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 1.8;
  font-weight: bold;
  text-shadow: 3px 3px 5px #000000;
  color: rgb(183, 183, 183);
}
.project_Video{
  margin-top: 125px;
 
}
.project_Video iframe{
  width: 700px;
  height: 400px;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 5px #521010;  
}

.project_container_2{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.project_Image{
  scale: .8;
  align-content: center;
  overflow: hidden; 

}
.project_Image img{
 
  box-shadow: 0 0 5px #ffffff;
}
